/* HEADER */
.cabecalho h3{
	float: right;
	margin-top: 2%;
	margin-right: 37%;
	text-align: center;
   user-select: none;
   font-size: 18pt;
}
.cabecalho h4{
	float: right;
	margin-right: 42%;
	text-align: center;
    user-select: none;
    font-size: 14pt;
}
.cabecalho p{
	float: right;
	margin-top: -1%;
	margin-right: 39%;
	text-align: center;
    user-select: none;
}

/* DESTINO */
.destino {
	float: right;
	margin-top: 1%;
	margin-right: -15%;
	user-select: none;
}
.cidade p{
	float: right;
	margin-right: -26%;
	margin-top: 7%;
	font-size: 13pt;
	user-select: none;
}
.cidade input{
	float: right;
	margin-right: -29%;
	margin-top: 10%;
	width: 29%;
	height: 5%;
	text-align: center;
	border-radius: 2px;
	text-transform: uppercase;
}
.bro p{
	float: right;
	margin-right: -45%;
	margin-top: 10%;
	width: 25%;
	font-size: 13pt;
	text-align: center;
	user-select: none;
}
.bro input{
	float: right;
	margin-right: -35.6%;
	margin-top: 13%;
	width: 35.6%;
	text-align: center;
	border-radius: 2px;
	text-transform: uppercase;
}
.mbm {
	float: right;
	margin-right: -12%;
	margin-top: 14%;
	text-align: center;
	padding-left: 5px;
	user-select: none;
}
.mbm2 {
	float: right;
	margin-right: -35.8%;
	margin-top: 16%;
	text-align: center;
	padding-left: 5px;
	user-select: none;
}
.cargo{
	float: right;
	margin-right: -12.5%;
	margin-top: 17%;
	user-select: none;
}
.estadocivil{
	float: right;
	margin-right: -36.1%;
	margin-top: 17%;
	user-select: none;
}
.setor{

	float: right;
	margin-right: -11.1%;
	margin-top: 22%;
	user-select: none;
}
.congregacao{
	float: right;
	margin-right: -36.1%;
	margin-top: 22%;
	user-select: none;
}
.saudation{
	float: left;
	margin-left: 28.4%;
	margin-top: 3%;
	user-select: none;
	text-align: justify;
}
.observacao{
	width: 39%;
	margin-left: 28.4%;
	user-select: none;
}
.data{
	margin-left: 33%;
	user-select: none;	
}
.line{
	margin-left: 33%;
	user-select: none;
	margin-top: 6%;
}
.line p{
	margin-left: 16%;
}
.botao{
	margin-left: 37%;
}
.sbm{
	margin-left: 47%;
	margin-top: -2.3%;	
}
